buoi3/donhang/orders.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="orders">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="order" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="product" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name"     type="xs:string"/>
                    <xs:element name="quantity" type="xs:positiveInteger"/>
                  </xs:sequence>
                  <!-- id của product: duy nhất trong MỖI order (ràng buộc bằng xs:unique bên dưới) -->
                  <xs:attribute name="id" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <!-- id của order: duy nhất TOÀN TÀI LIỆU -->
            <xs:attribute name="id" type="xs:ID" use="required"/>
          </xs:complexType>

          <!-- RÀNG BUỘC: product/@id không trùng nhau trong từng order -->
          <xs:unique name="uniqueProductIdWithinOrder">
            <xs:selector xpath="product"/>
            <xs:field xpath="@id"/>
          </xs:unique>

        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
