buoi3/thuvien/library.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Root element -->
  <xs:element name="library">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="book" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="title" type="xs:string"/>
              <xs:element name="author" type="xs:string"/>
              <xs:element name="year" type="xs:gYear"/>
              <xs:element name="genre" type="GenreType"/>
            </xs:sequence>
            <!-- ID duy nhất -->
            <xs:attribute name="id" type="xs:ID" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Ràng buộc genre theo danh mục cố định -->
  <xs:simpleType name="GenreType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Công nghệ"/>
      <xs:enumeration value="Kinh tế"/>
      <xs:enumeration value="Khoa học"/>
      <xs:enumeration value="Lịch sử"/>
      <xs:enumeration value="Văn học"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
