buoi4/bai2/dssv.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   
  <!-- Mã: tối đa 10 ký tự chữ/số -->
  <xs:simpleType name="maType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="10"/>
      <xs:pattern value="[A-Za-z0-9]+"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Tên khoa: chỉ ký tự thường a-z-->
  <xs:simpleType name="tenKhoaType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="50"/>
      <xs:pattern value="[a-z ]+"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Tên lớp: chữ cái + khoảng trắng -->
  <xs:simpleType name="tenLopType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="50"/>
      <xs:pattern value="[A-Za-z ]+"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- SĐT: bắt đầu 0 + 9 số -->
  <xs:simpleType name="sdtType">
    <xs:restriction base="xs:string">
      <xs:pattern value="0[0-9]{9}"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Email -->
  <xs:simpleType name="emailType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="50"/>
      <xs:pattern value="[^@\s]+@[^@\s]+\.[^@\s]+"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Root -->
  <xs:element name="DSSV">
    <xs:complexType>
      <xs:sequence>

        <!-- Danh mục KHOA -->
        <xs:element name="khoa" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ma"  type="maType"/>
              <xs:element name="ten" type="tenKhoaType"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <!-- Danh mục LOP -->
        <xs:element name="lop" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="malop"  type="maType"/>
              <xs:element name="tenlop" type="tenLopType"/>
            </xs:sequence>
            <xs:attribute name="makhoa" type="maType" use="required"/>
          </xs:complexType>
        </xs:element>

        <!-- Danh sách SINH VIÊN -->
        <xs:element name="sinhvien" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="mssv"   type="maType"/>
              <xs:element name="hoten"  type="xs:string"/>
              <xs:element name="email"  type="emailType"/>
              <xs:element name="diachi" type="xs:string"/>
              <xs:element name="sdt"    type="sdtType"/>
            </xs:sequence>
            <xs:attribute name="malop" type="maType" use="required"/>
          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>

    <!-- Khóa chính -->
    <xs:key name="KhoaKey">
      <xs:selector xpath="khoa"/>
      <xs:field xpath="ma"/>
    </xs:key>

    <xs:key name="LopKey">
      <xs:selector xpath="lop"/>
      <xs:field xpath="malop"/>
    </xs:key>

    <xs:key name="SinhVienKey">
      <xs:selector xpath="sinhvien"/>
      <xs:field xpath="mssv"/>
    </xs:key>

    <!-- Khóa ngoại -->
    <xs:keyref name="LopThuocKhoa" refer="KhoaKey">
      <xs:selector xpath="lop"/>
      <xs:field xpath="@makhoa"/>
    </xs:keyref>

    <xs:keyref name="SinhVienThuocLop" refer="LopKey">
      <xs:selector xpath="sinhvien"/>
      <xs:field xpath="@malop"/>
    </xs:keyref>

  </xs:element>
</xs:schema>
